# pip3 install -r requirements.txt

wheel
pip
setuptools
pywin32
pygame
mutagen
bcrypt
gtts-token
soupsieve
beautifulsoup4
click
gtts
pyttsx
numpy
pytz
six
python-dateutil
mongoengine
pymongo
psycopg2
pandas
htmlmin
astropy
confuse
imagehash
backcall
prometheus-client
pyrsistent
pandocfilters
htmlmin
tqdm
tangled-up-in-unicode
ipython-genutils
decorator
traitlets
pyzmq
MarkupSafe
jinja2
prometheus-client
attrs
pyrsistent
jsonschema
jupyter-core
nbformat
tornado
jupyter-client
pickleshare
parso
jedi
pygments
backcall
colorama
wcwidth
prompt-toolkit
ipython
ipykernel
mistune
entrypoints
pyparsing
packaging
webencodings
bleach
pandocfilters
defusedxml
testpath
nbconvert
Send2Trash
pywinpty
terminado
notebook
widgetsnbextension
ipywidgets
astropy
chardet
urllib3
idna
certifi
requests
scipy
kiwisolver
cycler
matplotlib
networkx
Pillow
PyWavelets
imagehash
visions
joblib
seaborn
missingno
pyyaml
confuse
llvmlite
numba
phik
pandas-profiling
pivottablejs
jdcal
et-xmlfile
openpyxl
xlsxwriter
matplotlib-venn
threadpoolctl
scikit-learn
absl-py
werkzeug
protobuf
oauthlib
requests-oauthlib
pyasn1
rsa
cachetools
pyasn1-modules
google-auth
google-auth-oauthlib
grpcio
markdown
tensorboard-plugin-wit
tensorboard
gast
astunparse
keras-preprocessing
h5py
tensorflow-estimator
termcolor
opt-einsum
wrapt
google-pasta
tensorflow
opencv-python

